<h1>Cart list</h1>
<div class='cart'>
  <h3 class="cart--title">
    Shopping cart <span class="cart--id">{{cart._id}}</span>
  </h3>
  {{#each cart.products}}
    <div class='cart--card'>
      <img class='cart--card__product-image' src="{{ product.thumbnails }}" alt='' />
      <div class='cart--card__info'>
        <b>{{product.title}}</b>
        <span>{{product.description}}</span>
        <span>Qty: {{quantity}}</span>
        <b> ${{product.price}}</b>
      </div>
    </div>
  {{/each}}
  <a href='/carts/{{cart._id}}'>
    <button class='cart--btn'>Go to cart</button>
  </a>
  <a id="cart--delete">Empty cart</a>
</div>

<script>
  document.querySelector('#cart--delete').addEventListener('click', () => {
    const cid = '{{cart._id}}';
    const confirmation = prompt('Empty cart?');
    fetch(`/api/carts/${cid}`, {
      method: 'DELETE',
    })
    .then((res) => res.json())
    .then((data) => {
      console.log(data);
      window.location.reload();
    })
    .catch((error) => console.error(error));
  })
</script>