<div class="main-content">
  <div class="cart">
    <h3>Cart: {{_id}}</h3>
      {{#each products}}
        Product: {{product.title}} <br>
        Description: {{product.description}} <br>
        Code: {{product.code}} <br>
        Price: ${{product.price}} <br>
        Stock: {{product.stock}} <br>
        Category: {{product.category}} <br>
        Quantity: {{quantity}} <br><br>
      {{/each}}
      <hr>
  </div>
</div>