<div class="container">
  {{#each carts}}
    <div class="cart">
      <a class="cart__link" href="/carts/{{_id}}">
        <h2>Cart</h2>
      </a>
      {{#each products}}
        <hr />
        <div>
          <div>
           <b>Product: {{product.title}}</b> 
            <br />
            Description:
            {{product.description}} <br>

            ${{product.price}}
            <br />
            <span>Qty: {{quantity}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>