<div class="main-content">
  <div class="cart">
    <h3>Cart: {{cart._id}}</h3>
    {{#each cart.products}}
      {{#each product}}
        Product: {{title}} <br>
        Description: {{description}} <br>
        Code: {{code}} <br>
        Price: ${{price}} <br>
      {{/each}}
      Quantity: {{quantity}}
      <hr>
    {{/each}}
  </div>
</div>