<div class="main-content">
  {{#each carts}}
    <div class="cart">
      <a class="cart-link" href="/carts/{{_id}}">
        <h3>Cart: {{_id}}</h3>
      </a>
      {{#each products}}
        <div>
          <div>
            Product: {{product.title}}
            <br>
            Description: {{product.description}}
            <br>
          <p>Quantity: {{quantity}}</p>
          </div>
        </div>
        <hr>
      {{/each}}
    </div>
  {{/each}}
</div>