<div class="main-content">
  <h1>Products</h1>

  <div class="search">
    <input type="text" id="query" value="{{query}}" />
    <button id="searchBtn">Search</button>
  </div>
  <div class="filters">
    <span>Limit:</span>
    <input type="number" id="limit" value="{{limit}}" />
    Page:
    <input type="number" id="page" value="{{page}}" />
    Sort:
    <select name="sort" id="sort" value="{{order}}">
      <option value="" selected disabled hidden>Sort</option>
      <option value="1">Asc</option>
      <option value="-1">Desc</option>
    </select>
    Status:
    <select name="status" id="status">
      <option value="true">Available</option>
      <option value="false">Unavailable</option>
    </select>
  </div>

  <div class="container">
    {{#each payload}}
      <div class="card">
        <img class="product__image" src="{{this.thumbnails}}" alt="" />
        <div class="card__content">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <p>${{this.price}}</p>
          <p>Stock: {{this.stock}}</p>
          <button class="addToCart" data-id="{{this._id}}">Add to cart</button>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="pagination">
    <div>
      <span>Total Products: {{totalDocs}} /</span>
      <span>Page: {{page}} / {{totalPages}}</span>
    </div>
    {{#if hasPrevPage}}
      <a id="prevPage" data-page="{{prevPage}}">Previus</a>
    {{/if}}
    {{#if hasNextPage}}
      <a id="nextPage" data-page="{{nextPage}}">Next</a>
    {{/if}}
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>