<div class="main-content">
  <h1>Productos</h1>

  <div class="container">
    {{#each products}}
      <div class="card">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <img height="150px" src="{{thumbnails}}" alt="" />
        <p>${{price}}</p>
        <p>Stock: {{stock}}</p>
        <button>ADD</button>
      </div>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>