<div class="main-content">
  <h1>Productos</h1>

  <div class="container">
    {{#each products}}
      <div class="card">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <img class="product__image" src="{{thumbnails}}" alt="" />
        <p>${{price}}</p>
        <p>Stock: {{stock}}</p>
        <button>ADD</button>
      </div>
    {{/each}}
    <div class="pagination">
      <span>Total Products: {{totalDocs}}</span>
      {{totalDocs}}
      <a href="">Previus</a>
      <a href="">Next</a>
    </div>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>