<h1>Profile</h1>

<div class="profile">
  <img class="profile__avatar" src="https://robohash.org/random" alt="avatar">
  <div class="profile__info">
    <span>First Name: {{user.first_name}}</span>
    <span>Last Name: {{user.last_name}}</span>
    <span>Email: {{user.email}}</span>
    <span>Role: {{user.role}}</span>
    <span>Status: {{user.status}}</span>
    <span>Date of creation: {{user.creationDate}}</span>
    <br>
    <a href="/api/sessions/logout">Log Out</a>
  </div>
</div>